*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

header{
    padding: 20px;
    width: 100%;
}

header a{
    color: rgb(98, 99, 100);
    font-size: 12px;
    font-weight: bold;
}

header ul{
    display: inline-block;
}

header ul li{
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-45 {
    margin-top: 45px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-top-75 {
    margin-top: 75px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-45 {
    margin-bottom: 45px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-75 {
    margin-bottom: 75px;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.small-text{
    font-size: 12px;
}

.normal-text{
    font-size: 16px;
}

.med-text{
    font-size: 30px;
}

.medbig-text{
    font-size: 40px;
}

.big-text{
    font-size: 60px;
}

.black-text{
    color: black;
}

.white-text{
    color: white;
}

header button, #jumbotron button{
    background-color: rgb(34, 86, 240);
    padding: 6px 16px;
    border: none;
    color: white;
}

#jumbotron{
    height: 75vh;
    background-color: rgb(180, 208, 231);
    padding: 50px 100px 0 100px;
}

.start-for-free{
    width: 30%;
}

.jumbo-img{
    width: 65%;
    margin-bottom: -70px;
}

.jumbo-img img{
    width: 100%;
}

.container{
    width: 65%;
    margin: 0 auto;
    border: 1px solid red;
}

.business-plan{
    padding-top: 200px;
}

.business-plan input{
    width: 20px;
    height: 20px;
    margin: 80px 5px 25px 15px;
}













#jumbotron h1{
    margin-bottom: 25px;
}

#jumbotron p{
    margin-bottom: 20px;
}